@model ilac_etkilesimleri.Models.EtkenMaddeViewModel

@{
    ViewBag.process = Model.Ad;
    ViewBag.Title = "Etken Madde";
}
<div class="box">
    <div class="box-header">
        <h3 class="box-title"><b>@ViewBag.Title 'yi GErçekten Silmek İstiyor Musunuz?</b> </h3>
    </div>
</div>
<div class="box">
    <div class="box-header">
        <h3 class="box-title"> <b>@Html.DisplayNameFor(model => model.Id)</b></h3>
        <p>
            @Model.Id
        </p>
    </div>
    <div class="box-header">
        <h3 class="box-title"> <b>@Html.DisplayNameFor(model => model.Ad)</b></h3>
        <p>
            @Model.Ad
        </p>
    </div>
    <div class="box-header">
        <h3 class="box-title"> <b>@Html.DisplayNameFor(model => model.Aciklama)</b></h3>
        <p>
            @Html.Raw(Model.Aciklama)
        </p>
    </div>
</div>
<div class="box">
    <div class="box-header">
        <h4 class="box-title Bold"><b>Etkileşimde Bulunduğu Etken Maddeler</b></h4>
    </div>
    @if (Model.EtkilesenEtkenMaddeler != null && Model.EtkilesenEtkenMaddeler.Count > 0)
    {

        foreach (var item in Model.EtkilesenEtkenMaddeler)
        {
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">@item.Ad</h3>

                    <div class="box-tools pull-right">
                        <a class="btn btn-box-tool" href="@Url.Action("Details","EtkenMadde", new { id = item.Id })">
                            <i class="fa fa-external-link-square"></i>
                        </a>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>

                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @Html.Raw(item.Aciklama)
                </div>
                <!-- /.box-body -->
            </div>
        }

    }
    else
    {
        <span>Etkilesen madde eklenmemiştir.</span>
    }
</div>
<div class="box">
    <div class="form-horizontal">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="col-md-6">
                    <input type="submit" value="Delete" class="btn btn-block btn-danger btn-lg" />
                </div>
                <div class="col-md-6">
                    @Html.ActionLink("Listeye Geri Dön", "Index", null, htmlAttributes: new { @class = "btn btn-block btn-warning btn-lg" })
                </div>
            </div>
        }
    </div>
</div>
